/*div{
   border: 1px solid black;

}*/


body{
    background-image: url(../../../pict/bg/bj1.png);
    background-color: #009933;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}

/*
#eler2{
    height: 230px; 
}
#eler3{
    height: 120px; 
}
#eler4{
    height: 230px; 
}
*/
eler3c1r2

.g-item {
    margin-bottom: 1px;
    padding: 1px;
    position: relative;
    background-color: #008000;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    /* Chrome, Safari, Opera */
    backface-visibility: hidden;
    z-index: 1000;
 }

.g-item img {
    overflow: hidden;
    width: 100%;
}

.g-item .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #d8aa46;
    text-align: center;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
